/* colors */
$bg-color: #f8f8f8;
$secondary-bg-color: #fff;
$primary-color: #fbbb00;
$secondary-color: #505050;
$secondary-color-accent: #303237;
$success-color: #6ac76a;
$error-color: #ef3b4d;
$text-color: #333;
$gradient-bg: linear-gradient(0deg, #fb9f00 0%, #fbbb00 100%);
$gradient-hover-bg: linear-gradient(0deg, #fbbb00 0%, #fbbb00 100%);

/* generic breakpoints */
$xl: 1250px;
$lg: 1024px;
$md: 650px;
$sm: 400px;
$xs: 340px;
