/* buttons */
.btn-clean {
    background: transparent;
    border: 0;
    padding: 0;

    &:focus {
        outline: none;
    }
}

.btn-solid {
    width: 100%;
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 4px;
    background: $gradient-bg;
    color: $secondary-color-accent;
    font-weight: 500;
    transition: background 0.3s;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        background: $gradient-hover-bg;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &:hover {
        color: $secondary-color-accent;
        text-decoration: none;
    }

    &:hover:not(:disabled)::before {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }

    &.md {
        padding: 12px 5px;
        font-size: 0.94rem;
    }

    &.lg {
        padding: 15px 5px;
        font-size: 1rem;
    }

    &.sm {
        width: auto;
        border: 1px solid $primary-color;
        padding: 7px 10px;
    }
}

.btn-outline {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $primary-color;
    background: #fff;
    color: $primary-color;
    white-space: nowrap;

    &:focus {
        outline: none;
    }

    &.hoverable {
        transition: background 0.4s, color 0.4s;
    }

    &.hoverable:hover:not(:disabled) {
        background: $primary-color;
        color: #fff;
    }

    &.lg {
        padding: 15px 5px;
        font-size: 1rem;
        font-weight: 500;
        border: 2px solid $primary-color;
    }

    &.sm {
        width: auto;
        border: 1px solid $primary-color;
        padding: 7px 10px;
    }
}

.btn-icon {
    height: 36px;
    width: 36px;
    padding: 0;
    background: #fff;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

    &:focus {
        outline: none;
    }
}

/* filters control */
.apply-filter,
.clear-filter {
    width: 60px;
    padding: 6px 0;
    background: transparent;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;

    &:focus {
        outline: none;
    }
}

.apply-filter {
    border: 1px solid #16cc2e;
    color: #16cc2e;

    &:hover:not(:disabled) {
        background: #16cc2e;
        color: #fff;
    }
}

.clear-filter {
    border: 1px solid #df644f;
    color: #df644f;

    &:hover:not(:disabled) {
        background: #df644f;
        color: #fff;
    }
}

.apply-filter-new,
.clear-filter-new {
    width: 80px;
    height: 32px;
    padding: 6px 0;
    font-weight: 400;
    font-size: 0.8rem;
    border-radius: 6px;

    &:hover {
        border-radius: 6px;
    }
}

.apply-filter-new::before {
    border-radius: 6px;
}

.clear-filter-new {
    margin-right: 12px;
}

/* label */
.input-label {
    margin-bottom: 4px;
    font-size: 0.75rem;
    color: #aaa;

    &.dark {
        margin-bottom: 2px;
        color: $text-color;
    }
}

.input-label-lg {
    margin-bottom: 4px;
    font-size: 0.8rem;
}

.input-label-xl {
    margin-bottom: 4px;
    font-size: 0.875rem;
}

/* input */
.text-input-lg {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border 0.3s;

    &:focus {
        border: 1px solid $primary-color;
        outline: none;
    }

    &::placeholder {
        color: #9e9d9d;
    }
}

.text-input-sm {
    width: 150px;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-size: 0.78rem;
    color: $text-color;
    text-overflow: ellipsis;
    transition: border 0.3s;

    &:focus {
        border: 1px solid $primary-color;
        outline: none;
    }

    &::placeholder {
        color: #9e9d9d;
        font-size: 0.78rem;
    }
}

.input-clear {
    padding: 0 8px 0 4px !important;
    margin-top: -1px;
}

/* select */
.table-select .select-input {
    width: 150px !important;
    font-size: 0.78rem !important;
}

.table-select .select-input__control {
    min-height: 36px !important;
    padding: 0 10px !important;
}

.table-select .select-input__menu-list {
    max-height: 104px !important;
}

.select-arrow {
    transition: transform 0.3s;
}

/* table date */
.table-date-select {
    width: 150px;
    height: 36px;
    padding: 0 10px;
    border-radius: 6px;
    font-size: 0.78rem;
}

.table-date-select .date-input-cta {
    border-radius: 6px;
    font-size: 0.78rem;

    & > span {
        font-size: 0.78rem;
    }
}

/* popup */
.popup {
    position: absolute;
    z-index: 3;

    .triangle-up {
        width: 0;
        height: 0;
        margin-left: auto;
        margin-right: 20px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.1));
    }

    .popup-body {
        padding: 15px 20px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    }
}

/* checkbox */
.rounded-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    margin-bottom: 0;

    .checkmark {
        position: absolute;
        left: 0;
        height: 19px;
        width: 19px;
        border: 1px solid $primary-color;
        border-radius: 4px;
        background: #fff;
        cursor: pointer;
    }

    .checkmark::after {
        content: '';
        display: none;
        position: absolute;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2.05px 2.05px 0;
        transform: rotate(45deg);
    }

    input {
        display: none;
    }

    input:checked + .checkmark {
        background: $primary-color;
    }

    input:checked + .checkmark::after {
        display: block;
    }
}

/* table */
.daas-table-wrap {
    width: 100%;
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
}

.daas-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 0.8575rem;
    text-align: center;
}

.daas-table > thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: 500;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.08), 0 -5px 5px -5px rgba(0, 0, 0, 0.08);
}

.daas-table > thead > tr {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.daas-table > thead > tr > th,
.daas-table > tbody > tr > td {
    padding: 16px 8px;
    background: #fff;
}

.daas-table > thead > tr > th:first-child,
.daas-table > tbody > tr > td:first-child {
    border-radius: 10px 0 0 10px;
    padding-left: 30px;
}

.daas-table > thead > tr > th:last-child,
.daas-table > tbody > tr > td:last-child {
    border-radius: 0 10px 10px 0;
    padding-right: 30px;
}

.daas-table a {
    color: #33a0ff;
    text-decoration: underline;
    transition: color 0.3s;
    &:hover {
        color: purple;
    }
}

.empty-table-message {
    position: absolute;
    font-size: 0.8575rem;
}

.sticky-td {
    position: sticky;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08) !important;
}

/* profile cards */
.profile-cards {
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: center;
}

.profile-card:not(:last-child) {
    margin-right: 25px;
}

.profile-card {
    width: 100%;
    max-width: 430px;
    min-width: 340px;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    grid-auto-rows: 65px;
    gap: 10px;
    background: #fff;
    padding: 22px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.profile-card > div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.profile-card > div > span:nth-child(1) {
    color: #a3a3a3;
    font-size: 0.75rem;
}

.profile-card > div > span:nth-child(2) {
    display: inline-block;
    overflow: auto;
    font-size: 0.86rem;
}

@media (max-width: $xl) {
    .profile-cards {
        flex-direction: column;
        align-items: center;
    }

    .profile-card:not(:last-child) {
        margin-bottom: 25px;
        margin-right: 0;
    }
}

/* loader */
.page-loader-wrap {
    position: absolute;
    top: -2.9px;
    right: 0;
    left: 0;
    z-index: 10;
}

.modal-loader-wrap {
    position: absolute;
    top: 20px;
    right: 35px;
    left: 35px;
}

.table-loader-wrap {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 4px 20px;
}

.page-wrap {
    position: relative;
    padding: 25px;
}

/* utils */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-grid {
    display: grid !important;
}

.hidden {
    visibility: hidden;
}

.p-relative {
    position: relative;
}

.url-link {
    color: #268de7;
    text-decoration: underline;
    transition: color 0.3s;
    &:hover {
        color: purple;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.mt-sm {
    margin-top: 10px;
    min-height: 500px;
}

.mt-sm > div:last-child {
    bottom: auto;
}

.table-fixed {
    table-layout: fixed;
}

.no-wrap {
    white-space: nowrap;
}

.grid-column-full {
    grid-column: 1 / -1;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.p-relative {
    position: relative;
}

.numeric-input::-webkit-inner-spin-button,
.numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// toggle
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 13px;
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #41ce4c;
    transition: 0.4s;
}

.slider.toggle {
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: '';
    height: 11px;
    width: 11px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    transition: 0.4s;
}

.switch > input:checked + .slider {
    background-color: #41ce4c;
}

.switch > input:focus + .slider {
    box-shadow: 0 0 1px #2ba32b;
}

input:checked + .slider:before {
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 36px;
}

.slider.round:before {
    border-radius: 50%;
}

.apply-patch {
    width: 110px;
}

.apply-patch > span {
    margin-bottom: 4px;
    font-size: 0.65rem;
    color: $text-color;
    margin-top: -15px;
}

/*table header sorts*/
.sort-triangles-table-header {
    display: flex;
}

.sort-triangles-table-header > div:first-child {
    display: flex;
    align-items: center;
}
// sort traingle buttons
.sort-triangles-up {
    width: 0;
    height: 0;
    margin-left: auto;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid;
    // filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.1));
}

.sort-triangles-down {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-top: -5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid;
    // filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}

.sort-triangles-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
}

.sort-triangles-wrap > label > input {
    display: none;
}

label.sort-triangles-label {
    cursor: pointer;
}

.sort-triangles-label:hover > input[type='radio'] + div {
    border-bottom-color: $primary-color;
    border-top-color: $primary-color;
}

.sort-triangles-label > input[type='radio']:checked + div {
    border-bottom-color: $primary-color;
    border-top-color: $primary-color;
}

.sort-triangles-label > input[type='radio'] + div {
    border-bottom-color: rgb(235, 229, 229);
    border-top-color: rgb(235, 229, 229);
}

/*align vertically center*/
.vertical-center-align {
    margin-top: auto;
    margin-bottom: auto;
}
