@keyframes popupSlideIn {
    from {
        opacity: 0.01;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(120%);
    }

    50% {
        opacity: 1;
    }
}

@keyframes slideOutDown {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: translateY(120%);
    }

    to {
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
