:root {
    font-size: 100%;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: $text-color;
    background-color: $bg-color;
    font-size: 0.875rem;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: 'tnum', 'tnum';
}

*,
::after,
::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* firefox scrollbar */
html {
    scrollbar-color: #d1d1d1 #f0f0f0;
    scrollbar-width: thin;
}

/* chrome/opera scroll bar */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(48, 50, 63, 0);
    background-color: #f0f0f0;
}

::-webkit-scrollbar {
    height: 5px;
    width: 6px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: $primary-color;
}

/* selection color */
::selection {
    background: $primary-color;
    color: #fff;
}

/* remove chrome's default autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}
