.select-input {
    color: $text-color !important;
}

/* label */
.select-input__control {
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
    transition: background 0.3s, border-color 0.3s !important;
}

.select-input__control--is-disabled {
    background-color: #fff !important;
}

.select-input__single-value--is-disabled {
    color: $text-color !important;
}

.select-input__control--is-focused {
    border-color: $primary-color !important;
}

.select-input__value-container {
    padding: 0 !important;
    cursor: pointer !important;
}

.select-input__value-container--has-value {
    flex-wrap: nowrap !important;
}

.select-input__single-value {
    margin: 0 !important;
    max-width: 100% !important;
}

.select-input__placeholder {
    color: #9e9d9d !important;
}

.select-input__single-value span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select-input__single-value + div {
    margin: 0 !important;
}

/* menu */
.select-input__menu {
    margin-top: 4px !important;
    box-shadow: none !important;
    border: 1px solid #d1d1d1 !important;
    border-radius: 6px !important;
    z-index: 3 !important;
}

.select-input__menu-list {
    max-height: 160px !important;
}

.select-input__option {
    padding: 6px 8px !important;
    cursor: pointer !important;
}

.select-input__option--is-focused {
    background: #f0f0f0 !important;
}

.select-input__option--is-selected {
    background: #e9e9e9 !important;
    color: $text-color !important;
}

.select-input__option > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* empty */
.select-input__menu-notice--no-options {
    padding: 6px 8px !important;
    text-align: left !important;
}

.search-empty {
    color: $text-color;
    user-select: none;
}

/* loading */
.search-loading {
    color: #9e9d9d;
}

.match {
    color: $primary-color;
    font-weight: 500;
}
