.Toastify__toast-container {
    width: 370px;
    top: unset;
    right: unset;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
    z-index: 9999999;
}

.Toastify__toast {
    min-height: unset;
    text-align: center;
    padding: 10px 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
}

.Toastify__toast--info {
    background: $secondary-color;
}

.Toastify__toast--error {
    background: $error-color;
}

.Toastify__toast--success {
    background: $success-color;
}

.toast-slidein {
    animation-name: slideInUp;
}

.toast-slideout {
    animation-name: slideOutDown;
}
